#options-table td:nth-child(1) {
    width: 75px;
    text-align: center;
    font-weight: 600;
}

#options-table th:nth-child(1) {
    width: 75px;
    text-align: center;
}

#options-table td:nth-child(2),
#options-table th:nth-child(2) {
    width: 100px;
    text-align: center;
}

#options-table td:nth-child(3),
#options-table th:nth-child(3) {
    width: 100px;
    text-align: center;
}

#options-table td:nth-child(4) {
    text-align: left;
}

#options-table th:nth-child(4) {
    text-align: center;
}

#options-table th {
    font-weight: 700;
}